[submodule "lib/Utils"]
	path = lib/Utils
	url = https://github.com/gendestry/Utils
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json
[submodule "lib/FTXUI"]
	path = lib/FTXUI
	url = https://github.com/ArthurSonzogni/FTXUI.git
[submodule "lib/libMVRgdtf"]
	path = lib/libMVRgdtf
	url = https://github.com/mvrdevelopment/libMVRgdtf
